/* QR Code Generator */

#qr-inner {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    gap: 10px;
    align-items: center;
}

#qr-inner input {
    padding: 10px;
    font-size: 20px;
    width: 100%;
    margin-top: 20px;
}

#qr-inner button {
    padding: 10px 20px;
    font-size: 20px;
    width: 50%;
    margin: auto;
    background-color: plum;
    border-radius: 500px;
    cursor: pointer;
}

#qr-inner button:active {
    background-color: rgb(197, 145, 197);
}