#basic-page-main {
    width: 70%;
    margin: auto;
}

#basic-page-main h1 {
    text-align: center;
    margin: 60px auto;
}

#star-rating-cont {
    text-align: center;
}

#image-slider-main {
    margin: 100px auto;
    border: 2px solid white;
    text-align: center;
    padding: 20px;
}