#LoadMore-cont {
    height: calc(100vh - 100px);
    padding: 10px;
    box-sizing: border-box;
}

#LM-images-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    text-align: center;
}

#LM-images-cont .imgBox {
    flex: 1 1 calc(25% - 10px);
    box-sizing: border-box;
}

#LM-images-cont img {
    width: 100%;
    max-height: 160px;
    display: block;
}